*{
    margin: auto;
    padding: 0;
}

p{
    color:aliceblue;
    background: #000;
    font-size: medium;
}

h1{
    color:blue;
    font-weight: 300;
}

ol{
    color: #000;
    font-weight: 200;
}